*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("espacio2.jpeg");
    
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height:100%;
 
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    /*width:70%;*/
    width:1100px;
    margin:0px auto;
    border:1px solid black ;
 }

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color:white;
    
    border-bottom: 3px dashed black;
}

nav{
    background: lightblue;
    height: 50px;
    border-bottom:1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: green;
    padding: 40px;
}
#si{
    float: left;
    width: calc(20% - 20px);
    min-height: 560px;
    background: orange;
    padding: 10px;
}

#Ratchet{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    float: left;
}

#Clank{
    width: 150px;
    height: 150px;
    vertical-align: auto;
    align-self: auto;
    align-self: start;
    float:right;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.article h2{
    font-size: 25px;
}